<ul class="breadcrumb">
  <li>
    <p>YOU ARE HERE</p>
  </li>
  <li>
    <%= link_to 'Worksheets', worksheets_url, :class => "active" %>
  </li>
</ul>

<div class="page-title"> <i class="icon-edit"></i>
  <h3>View - <span class="semi-bold">Worksheet</span></h3>
</div>

<%= stylesheet_link_tag "print_html.css?v=5" %>

<%= render "show" %>