                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li>Home</li>
                </ul>
                <div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Control - <span class="semi-bold"> Panel</span></h3>	
                </div>
                <div class="row">                  
                    <div class="col-md-12">
			<div class="grid simple ">
			    <div class="grid-body no-border">
				<h1>Welcome <%= current_user.name %></h1>
			    </div>
			</div>
                    </div>
                </div>
