					<table class="table table-striped no-more-tables datatable-<%= "purchase-" if params[:action] == "purchase_orders" %>orders no-filter">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Code
                                                </th>
                                                <% if params[:action] != "purchase_orders" %>
													<th>Customer</th>
                                                <% else %>
													<th>Supplier</th>
                                                <% end %>
                                                <th width="10%" style="text-align: right">Total Price</th>                                             
						<th style="text-align: center">Salesperson</th>
						<th style="text-align: center">Purchase Manager</th>
						<th style="text-align: center">Order Date</th>
						
						<th style="text-align: center">Status</th>
                                                <th style="text-align: center">Actions</th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                            
					    
                                          </tbody>
                                    </table>