									<table class="table table-striped no-more-tables datatable-<%= "purchase-" if params[:action] == "purchase_orders" %>orders no-filter">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Code
                                                </th>
                                                <% if params[:action] != "purchase_orders" || params[:purchase] %>
													<th width="50%">Customer</th>
                                                <% else %>
													<th width="50%">Supplier</th>
                                                <% end %>
                                                <th class="text-right">Total Price</th>
												<th class="text-center">Staff</th>												
												<th class="text-center">Order Date</th>
												<th class="text-center">Infos</th>
												<th class="text-center">Order Status</th>
                                                <th class="text-center">Actions</th>   
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                            
					    
                                          </tbody>
                                    </table>