<%
    top = 5
    pos1 = 249 + top
    pos2 = 286 + top
    pos3 = 312 + top
    pos4 = 338 + top
    pos5 = 364 + top
    pos6 = 389 + top
    pos7 = 474 + top
    pos8 = 801 + top
    pos9 = 771 + top
    pos10 = 801 + top
    pos11 = 828 + top
    pos12 = 860 + top

%>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style>
    body {
        font-size: 15px;
        font-family: "Tahoma";
    }
    
    div {
    
    }
    
    * {
        font-size: 15px;
        font-family: "Tahoma";
    }
        .po_water_mark .text {
      text-align: center;
      width: 50%;
    }
    
    .po_water_mark {
    clear: both;
    padding-top: 25px;
    width: 100%;
}
    
.po_water_mark .line1 {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #333;
    display: block;
    height: 2px;
    width: 50%;
}

.po_water_mark .line2 {
    border-bottom: 1px solid #333;
    float: right;
    height: 2px;
    margin-top: 34px;
    width: 50.7%;
    -ms-transform: rotate(12deg); /* IE 9 */
    -webkit-transform: rotate(12deg); /* Safari */
    transform: rotate(12deg);
}
</style>

<div style="display:block !important;position: absolute;top:<%= pos5 %>px;left: 45px">
    <span style="display:block !important;margin-left:-40px">LÔ 6, </span>
</div>
