<select name="order[supplier_agent_id]" class="modern_select">
  <option value="">Select Agent</option>
  <% if !@contact.agents.nil? %>
    <% @contact.agents.each do |agent| %>
      <option value="<%= agent.id %>"><%= agent.html_agent_input %></option>
    <% end %>
  <% end %>
</select>