      <div class="page-title"> <i class="icon-plus-sign-alt"></i>
        <h3>Edit -
        <span class="semi-bold">
          
            Contact: <%= @contact.name %>

        </span>
        </h3>
      </div>
      

	  
<%= render 'ajax_form' %>