<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Contacts', contacts_url, :class => "active" %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
        <h3>Edit - <span class="semi-bold">Contact</span></h3>
      </div>
      

	  
<%= render 'form' %>