<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Feedback', feedbacks_path %>
                    </li>
		    
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
        <h3>Edit - <span class="semi-bold">Feedback</span></h3>
      </div>
      

	  
<%= render 'form' %>