                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Feedback', feedbacks_path, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Feedback - <span class="semi-bold"> Management</span></h3>	
                </div>
				
				
				
				
                <div class="row">                  
                    <div class="col-md-12">
                        <%= link_to 'New Feedback', new_feedback_path(tab_page: 1),title: "New Feedback", psrc: feedbacks_path(tab_page: 1), :class => 'btn btn-primary btn-cons tab_page' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Contacts</span></h4>                                
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-feedbacks no-filter">
                                        <thead>
                                            <tr>
												<th class="text-left">Info</th>
                                                <th class="text-center">Picture</th>
												<th class="text-center">Created At</th>
												<th class="text-center">User</th>
												<th class="text-center">Status</th>
												<th class="text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                            
					    
                                        </tbody>
									</table>
                            </div>
                        </div>


                    </div>
                </div>
