      <ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li><%= link_to 'Attendance', checkinouts_url %></li>
      </ul>
      <div class="page-title"> <i class="icon-plus-sign-alt"></i>
        <h3>New Request - <span class="semi-bold">Attendance</span></h3>
      </div>
      

	  
<%= render 'form' %>