<div class="grid simple ">
    <div class="grid-body no-border filters">
        <div class="row worksheet-expenses-filters">

            <div class="col-md-4">
                <h4>Status</h4>
                <div class="">
                    <div class="input-with-icon  right">
                        <i class=""></i>
                        <select name="status" class="modern_select width100">
								<option value="all">All</option>
								<option value="active" selected>Active</option>
								<option value="deleted">Deleted</option>
							  </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h4>Types</h4>
                <div class="">
                    <div class="input-with-icon  right">
                        <i class=""></i>
                        <select name="type_name" class="modern_select width100">
								<option value="all">All</option>
								<option value="per_worksheet">Per Worksheet</option>
								<option value="per_kilometer">Per Kilometer </option>
							  </select>
                    </div>
                </div>
            </div>

           

        </div>
        <div class="row order-filters">

            <div class="col-md-2">
                <h4>Tasks</h4>
                <div class="">
                    <div class="input-with-icon  right">
                        <i class=""></i>
                        <select name="task" class="modern_select width100">
							  <option value="">None</option>
							  <option value="trash">Trash</option>
							  <option value="delete">Delete</option>
							</select>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>