      <div class="page-title"> <i class="icon-plus-sign-alt"></i>
        <h3>New -
        <span class="semi-bold">
          Product
        </span>
        </h3>
      </div>
      

	  
<%= render 'ajax_form' %>