<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
        <li><%= link_to 'Products', products_url, :class => "active" %></li>
      </ul>
      <div class="page-title"> <i class="icon-plus-sign-alt"></i>
        <h3>New - <span class="semi-bold">Product</span></h3>
      </div>
      

	  
<%= render 'form' %>

<%= javascript_include_tag "editor_ckeditor.js" %>
<%= javascript_include_tag '//cdn.ckeditor.com/4.5.6/full/ckeditor.js' %>
