<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Products', products_url %>
                    </li>
		    <li>
			<%= link_to 'Manufacturers', manufacturers_url, :class => "active" %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-plus-sign-alt"></i>
        <h3>New - <span class="semi-bold">Manufacturer</span></h3>
      </div>
      

	  
<%= render 'form' %>

